.btn{
  margin: 15px 0 15px;
}

.btn_custom{
  border-radius: 30px;
  background: linear-gradient($color-02, $color-01);
  box-shadow: 2px 2px 7px $color-f;
  color: $color-w;
  border: none;
  font-weight: bold;
  width: 220px;
  height: 50px;
}