@import "includes/variables";
@import "./animation";
@import "includes/components/general/btn";
@import "includes/base";
@import "includes/components/general/header";
@import "includes/components/general/footer";
@import "includes/components/general/title";
@import "includes/components/general/text";
@import "includes/components/general/list";
@import "includes/components/card";
@import "includes/components/restaurant";
@import "includes/components/menu";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: $color-b;
}

body {
  width: 100%;
  background-color: $color-w;
  text-align: center;
}

.container {
  max-width: 992px;
  margin: 0 auto;
}

section{
  margin: 20px 0;
}