@import "includes/variables";
@import "includes/btn";
@import "includes/base";
@import "includes/header";
@import "includes/footer";
@import "includes/title";
@import "includes/text";
@import "includes/list";
@import "includes/components/card";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: $color-b;
}

body {
  width: 100%;
  background-color: $color-w;
  text-align: center;
}

.container {
  max-width: 992px;
  margin: 0 auto;
}

section{
  margin: 20px 0;
}